@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  .bg-rainbow {
    background-image: radial-gradient(
        at 10% 20%,
        rgba(255, 255, 128, 0.1),
        transparent 50%
      ),
      radial-gradient(at 80% 10%, rgba(255, 128, 255, 0.1), transparent 50%),
      radial-gradient(at 30% 80%, rgba(128, 255, 255, 0.1), transparent 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  color: black;
}
